
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>请付款</title>
</head>
<body>
    <div> 
        <ul>
        <li>@ViewData["money"]</li>
            <li>支付宝账号:754124417@qq.com</li>
            <li><img src="~/Content/pay.jpg"  style="width: 50%"/></li>
            </ul>
    </div>
</body>
</html>
