<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>JSAPI与URLAPI结合示例</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=MneNGLVrOxtWZKLsmtOCobGGcGOOGLra"></script>
    <script src="http://d1.lashouimg.com/static/js/release/jquery-1.4.2.min.js" type="text/javascript"></script>
    <style type="text/css">
        html, body {
            width: 800px;
            height: 600px;
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div style="width:800px;height:600px;border:1px solid gray" id="container"</div>
</body>
</html>
<script type="text/javascript">

        var map = new BMap.Map("container");
        map.centerAndZoom(new BMap.Point(121.510357,30.836744), 25);
        map.enableScrollWheelZoom();
        var marker=new BMap.Marker(new BMap.Point(121.510357,30.836744));
        var marker2=new BMap.Marker(new BMap.Point(121.514031,30.840151));
        var marker3=new BMap.Marker(new BMap.Point(121.507267,30.835128));
        var marker4=new BMap.Marker(new BMap.Point(121.509144,30.834205));

        map.addOverlay(marker);
        map.addOverlay(marker2);
        map.addOverlay(marker3);
        map.addOverlay(marker4);

        var licontent="<b>图书馆</b><br>";
            licontent+="<a href=\"http://lib.ecust.edu.cn:8081/gateseat/lrp.aspx\">查看座位情况</a><br>";
            licontent+="<span class=\"input\"><strong></strong><select id=\"aim\"><option value=\"labone\">信息楼</option><option value=\"labsix\">实验六楼</option><option value=\"eateryone\">一食堂</option><option value=\"lib\">图书馆</option></select><input class=\"outset-but\" type=\"button\" value=\"导航\"  onclick=\"getselect()\"/></span>";

        var hiddeninput="";

        var content1 ="<form id=\"gotobaiduform\" action=\"http://api.map.baidu.com/direction\" target=\"_blank\" method=\"get\">" + licontent +hiddeninput+"</form>";

        var opts = { width: 200 };

        var  infoWindow = new BMap.InfoWindow(content1, opts);


        marker.openInfoWindow(infoWindow);
        marker.addEventListener('click',function(){
            marker.openInfoWindow(infoWindow);
        });

        marker2

        function getselect()
        {
            var select=document.getElementById("aim");
            var index =select.selectedIndex;
            var aim   =select.options[index].value;
            if(aim=="labone")
            {
                var x=121.508655;
                var y=30.837337;
            }
            else if(aim=="labsix")
            {
                var x=121.509144;
                var y=30.834205;
            }
            else if(aim=="eateryone")
            {
                var x=121.514031;
                var y=30.840151;
            }
            test(x,y)
        }
        function test(x,y)
        {
            var walking = new BMap.WalkingRoute(map,{renderOptions: {map: map, panel: "r-result", autoViewport: true}});
            walking.search(new BMap.Point(121.510357,30.836744),new BMap.Point(x,y))
            var myIcon = new BMap.Icon("http://developer.baidu.com/map/jsdemo/img/Mario.png", new BMap.Size(32, 70),
            {
    		imageOffset: new BMap.Size(0, 0)    //图片的偏移量。为了是图片底部中心对准坐标点。
        	  });
    	window.run = function (){
		var driving = new BMap.WalkingRoute(map);    //驾车实例
		driving.search(new BMap.Point(121.510357,30.836744),new BMap.Point(x,y));
		driving.setSearchCompleteCallback(function(){
			var pts = driving.getResults().getPlan(0).getRoute(0).getPath();    //通过驾车实例，获得一系列点的数组
			var paths = pts.length;    //获得有几个点

			var carMk = new BMap.Marker(pts[0],{icon:myIcon});
			map.addOverlay(carMk);
			i=0;
			function resetMkPoint(i){
				carMk.setPosition(pts[i]);
				if(i < paths){
					setTimeout(function(){
						i++;
						resetMkPoint(i);
					},100);
				}
			}
			setTimeout(function(){
				resetMkPoint(5);
			},100)

		});
	}

	setTimeout(function(){
		run();
	},1500);
        }
</script>