
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BindingStudentNumView</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <link href="~/Content/webuploader.css" rel="stylesheet" />
    <script src="~/Scripts/webuploader.nolog.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
